<div id="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-heading">
                  <h4>Contact Us</h4>
                  <div class="primary-blue-button" >
                    <h4>  <a  routerLink="mail" routerLinkActive='active' class="scroll-link" (click)="showmail()">Send Us message</a></h4>
                </div>
              </div>
                  <div class="line-dec"></div>
                  <p>This interface will help you to contact Us!
                    
                  </p>
                  
                  <div class="primary-blue-button" >
                    <a  routerLink="chatbot" routerLinkActive='active' class="scroll-link" (click)="showchatbot()">ChatBot</a>
                   
                </div>
                <router-outlet></router-outlet>
              </div>
             
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="pop">
                  <span>✖</span>
                  <form  id="contact" action="#" method="post" >
                      <div class="row">
                          <div class="col-md-12">
                            <fieldset>
                              <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                            </fieldset>
                          </div>
                          <div class="col-md-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="btn">Send Message</button>
                            </fieldset>
                          </div>
                      </div>
                  </form>
                  
              </div>
          </div>
      </div>
  </div>
