<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    
                    <div class="section-heading">
                        <a href="#" class="navbar-brand scroll-top"><em>R</em>awdhty <em>Tn</em></a>
                        
                        <h4>Kindergarten-Owner Management</h4>
                        <div class="line-dec"></div>
                        <p>Here You can manage all your features !!!</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>
                                    <ul class="project-filter">
                                        <li class="filter" data-filter="all"><span>My Profile</span>
                                        
                                        </li>
                                        </ul>
                                        
                                    
                                    <li class="nav-item dropdown">
                                        
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Set Members 
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <a class="dropdown-item" href="#">Parents</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Doctors</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Educators</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Bus Driver</a>
                                        </div>
                                      </li>
                                      <li class="nav-item dropdown">
                                        
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Management 
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <a class="dropdown-item" routerLink="/kindergartenOwner/managePosts" routerLinkActive='active' data-id="portfolio" >Manage Posts</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Manage Forums</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Manage Events</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Manage Appoinments</a>
                                        </div>
                                      </li>
                                      <li class="filter" data-filter="all"><span>Kids</span></li>
                                </span></li>
                              <!--    <li class="filter" data-filter="all"><span>Clubs</span></li>  -->

                                <!--  <li class="filter" data-filter="all"><span>Communicate Kindergarten</span></li> -->
                                <!-- <li class="filter" data-filter="all"><span>Forum</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                
                                        <!--afficher posts-->

                                       
                                        
                                        


                                  
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </section>