<mat-toolbar>
    Responsive s#9f5500igation
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span><span><a routerLink="home" routerLinkActive='active' >Home</a></span></span>
        </button>
<button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>account_box</mat-icon>
            <span>Users</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>notifications_active</mat-icon>
            <span><a routerLink="notification" routerLinkActive='active' (click)="shownotif() ">Notification</a></span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>assignment_ind</mat-icon>
            <span > <a routerLink="activity" routerLinkActive='active' (click)="showdactivity() ">Activity</a></span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>report_problem</mat-icon>
            <span>Claims</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>timeline</mat-icon>
            <span > <a routerLink="dashboard" routerLinkActive='active' (click)="showdashboard() ">Dashboard</a></span>
        </button>

        <mat-divider></mat-divider>


    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
           <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
