<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"  role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>R</em>awdhty Tn</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a routerLink="" routerLinkActive='active'  class="scroll-link"  >Home</a></li>
                    <!-- <li><a href="#" class="scroll-top">About Us</a></li>-->

                    <li><a routerLink="kindergardens" routerLinkActive='active'  class="scroll-link"  data-id="portfolio">Kindergartens</a></li>
                    <li><a routerLink="more" routerLinkActive='active'  class="scroll-link"  data-id="about">More</a></li>
                    <li><a routerLink="blog" routerLinkActive='active'  class="scroll-link"  data-id="blog">Blog</a></li>
                    <li><a routerLink="contactUs" routerLinkActive='active'  class="scroll-link"  data-id="contact-us">Contact Us</a></li>
                    <li><a routerLink="sign-in" routerLinkActive='active' class="scroll-link"  data-id="login">Sign-In</a></li>
                    <li><a routerLink="spaceKinderOwner" routerLinkActive='active'  class="scroll-link"  data-id="portfolio">KinderOwnerSpaec</a></li>
                    

                </ul>
            </div>
            <!--/.navbar-collapse-->

            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" front-size="40">
                    <button class="btn btn-outline-success" type="submit " >Search</button>
                  </form>
                </div>
              </nav>

        </nav>
        <!--/.navbar-->

    </div>
    <!--/.container-->

</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Rawdhty</em> <span></span>Kindergarden Social Network </h2>
           <p></p>
            <div class="primary-white-button" >
                <a href="#" class="scroll-link" data-id="about">Let's Start</a>
            </div>

        </div>
    </div>
</div>