<div class="row"> 
            <form  id="contact" action="https://formspree.io/f/xbjqdved" method="post" >
              
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required >
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required >
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message"  type="message"  rows="6" class="form-control" id="message" placeholder="Write Your message..." required ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <div class="card-body">
                          <div class="wrapper text-center">
                             <button class="btn btn-outline-success" onclick="showSwal('success-message')">Send You Message</button>
                          </div>
                      </div>
                      </fieldset>
                    </div>
                </div>
            </form>
            
        </div>
    
   