<!--<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand"  id="k" href="#">Rawdhty Chat Option</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
      </nav>
</header>

<main class="chat">
    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
                        <strong>{{chatMessage.user}}: </strong>
                        <span>{{chatMessage.message}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send row">
                <div class="col-2">
                    <input type="text" class="form-control" name="user" id="input-user" ngModel>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>

</main>
-->


<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-4">
                <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title"> Rawdhty.Tn Chat  <img class="direct-chat-img" src="./assets/img/chat.png" alt="message user image"></h3>
                        <div class="box-tools pull-right"> <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 New Messages">20</span> <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts"> <i class="fa fa-comments"></i></button> <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i> </button> </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
                                <strong>{{chatMessage.user}}: </strong>
                                <span>{{chatMessage.message}}</span>
                            </li>
                        </ul>
                        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
                            <div class="chat-send row">
                                <div >
                                   
                                    <div class="direct-chat-text">  </div>
                                </div>
                               
                                <div class="input-group"><input type="text" class="form-control" name="message"  placeholder="Type Message ..." id="input-message" ngModel> 
                                    <span class="input-group-btn"><button type="submit" class="btn btn-warning">Send</button><input type="text" class="form-control" name="user"  placeholder="Name" id="input-user" ngModel><span class="input-group-btn"></span> </span> </div> 
                           </div>
                          
                        </form>
                      
                    </div>
                                   
                   
                    </div>
                </div>
            </div>
        </div>
    </div>




<!-- <div class="box-body">
                        <div class="direct-chat-messages">
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                                <div class="direct-chat-text"> Thank you for your believe in our supports </div>
                            </div>
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-left">Timona Siera</span> <span class="direct-chat-timestamp pull-right">23 Jan 5:37 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix"> <span class="direct-chat-name pull-right">Sarah Bullock</span> <span class="direct-chat-timestamp pull-left">23 Jan 6:10 pm</span> </div> <img class="direct-chat-img" src="https://img.icons8.com/office/36/000000/person-female.png" alt="message user image">
                                <div class="direct-chat-text"> I would love to. </div>
                            </div>
                        </div>
                    </div>-->