<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/stat.png" alt="">
                    </div>
                    <h4>Statistics </h4>
                    <div class="line-dec"></div>
                    <p>Here are the statistics of our registered kindergartens that can help you choose the right fit for your needs </p>
                    <div class="primary-blue-button">
                        <a routerLink="stats" routerLinkActive='active' class="scroll-link" > Show Stats </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/events.png" alt="">
                    </div>
                    <h4>Events</h4>
                    <div class="line-dec"></div>
                    <p>here are some events of our registred kindergartens go ahead and look at them !</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Show Events</a>
                    </div>
                </div>
            </div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Forum</h4>
                    <div class="line-dec"></div>
                    <p>Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor mi quis rhoncus convallis.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                    </div>
                </div>
            </div>-->   
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/kidsclub.png" alt="">
                    </div>
                    <h4>Clubs</h4>
                    <div class="line-dec"></div>
                    <p>Here we have some List of clubs of our registred kindergarden you can see them ! </p>
                    <div class="primary-blue-button">
                  <li>  <a [routerLink]="['clubs']"  routerLinkActive='active'  class="scroll-link"  data-id="clubs">Show clubs</a> </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<router-outlet></router-outlet>

