<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ The design of the application facilitates the choice and interactions between our customers and this is obviously our goal ”</p>
                            <h4>Anouar Aweinia</h4>
                            <span>Web Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ our application is innovative and we are a persevering team where the customer is our priority ”</p>
                            <h4>Tarek Ellakermi</h4>
                            <span>New Manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“We have crushed the abuse of technology and applications!  ”</p>
                            <h4>Arij Mansour</h4>
                            <span>CEO Founder</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ the quality of service offered is super easy and also the communication”</p>
                            <h4>Oussema Mihoubi</h4>
                            <span>Software Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
