<div class="container">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Show All Posts :</a>
        <div class="body table-responsive">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">post_Title</th>
                    <th scope="col">post_Date</th>
                    <th scope="col">post_Description</th>
                    <th scope="col">Action</th>
                    <th scope="col">Member</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listPosts ; let i= index">
                    <td>{{p.post_Id}}</td>
                    <td>{{p.post_Title}}</td>
                    <td>{{p.post_Date}}</td>
                    <td>{{p.post_Description}}</td>
                    <td><button (click)="blockDisabled = true" type="button" class="btn btn-danger">Delete</button></td>
                    
                        
                          <td><div *ngIf="!blockDisabled">
                            <button (click)="blockDisabled = true" type="button" class="btn btn-warning">Block</button>
                        </div></td>  
                            
                            <div *ngIf="blockDisabled">
                                <button (click)="blockDisabled = false" type="button" class="btn btn-warning">Unblock</button>
                            </div>
                        
                    
                    

                        
                    
                </tr>
            </tbody>
        </table>
    </div>
        </li>
        
      </ul>
</div>


<p>ghodwa nkamelha ma 3ach najem tawa</p>

