<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Our Blog Posts</h4>
                        <div class="line-dec"></div>
                        <p>All About Kindergarden posts !</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Show All Posts</a></li>
                            <!--<li><a href="#tab2">Communication Space</a></li>
                            <li><a href="#tab3">(enter your suggestion)</a></li>
                            <li><a href="#tab4">(enter your suggestion)</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/kedo2.jfif" alt="">
                            <div class="text-content">
                                <h4>Kids Integration</h4>
                                <span><a href="https://video.search.yahoo.com/search/video?fr=mcafee&ei=UTF-8&p=Kindergartens+integration+videos&type=E210US91105G91494#id=1&vid=966dc6cc09ebfa805390dd058ec1f311&action=click">Video of integration</a> / <a href="#">Tarek</a> / <a href="#">19 june 2021</a></span>
                                <p>`The transition from preschool to elementary education can be challenging. 
                                    Your focus must shift from helping your child develop fine motor skills and recognizing letters and numbers 
                                    to introducing them to core subjects like math, science and reading. If you’re not careful you’ll lose sight of 
                                    other important subjects such as art, bible, music and physical education. 
                                    A comprehensive curriculum that covers all the subjects might be the place to start as you begin 
                                    establishing positive home educating habits. Deciding you need an integrated curriculum is the easy part. 
                                    Finding one that’s right for your family is the challenge. 
                                    Kendall Hunt Religious Publishers has produced the Kindergarten Stepping Stones curriculum, which new homeschool families may find helpful.`</p>
                            </div>
                        </div>
                        
                        <div id="tab2">
                            <img src="assets/img/babytechnology.jpg" alt="">
                            <div class="text-content">
                                <h4>Technologiy</h4>
                                <span><!--<a href="#">Branding</a> /--> <a href="https://www.facebook.com/Leader03">Oussema</a> / <a href="#">14 May 2021</a></span>
                                <p>`Kids must become more adept in using the web and other tools to conduct research, evaluate informational sources, and collect data, among other things. 
                                    Thus, technology in the kindergarten classroom is essential for giving early learners a good introduction to these new skills.`</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="assets/img/corona.jpg" alt="">
                            <div class="text-content">
                                <h4>Let's Learn more about Corona</h4>
                                <span><a href="https://www.wsj.com/articles/remote-kindergarten-during-covid-19-could-impact-this-generation-of-kids-for-their-lifetime-11620552653">Learn More </a> / <a href="#">arij</a> / <a href="#">20 March 2021</a></span>
                                <p>`Remote Kindergarten During Covid-19 ‘Could Impact This Generation of Kids for Their Lifetime`</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="assets/img/clubpost.jpg" alt="">
                            <div class="text-content">
                                <h4>Our Clubs</h4>
                                <span><a href="http://localhost:4200/more/clubs">Go to Clubs</a> / <a href="#">Anouar</a> / <a href="#">14 March 2021</a></span>
                                <p>`You can subscribe your kid in one of our clubs`</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
